<div>
    <% $ticket->Subject %>
</div>
<div>
    <% $ticket->FirstCustomFieldValue('Description') %>
</div>
<div>
    <% $ticket->FirstCustomFieldValue('Goal') %>
</div>
<div>
<p>I Want To Contribute</p>
<form action="/NoAuth/Featured">
    <input placeholder="Name" name="Name">
    <input placeholder="Email" type="email" name="Email" required>
    <input placeholder="Address" name="Address">
    <input name="ticketId" value="<% $ticketId %>" type="hidden">
    <input type="submit" name="Sponsor" value="Submit">
</form>
</div>

<%init>
my $ticket = RT::Ticket->new(RT->SystemUser);
my ($ret, $msg) = $ticket->Load( $ticketId );
return ($ret, $msg) unless $ret;
</%init>

<%args>
$ticketId
</%args>
