% use utf8;
% use JSON qw(encode_json);

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A list of proposed features for Request Tracker (RT) available for sponsorship.">
    <title>Request Tracker Sponsored Features</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css"
    <!--<![endif]-->

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="/combo/1.18.13?/css/layouts/pricing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/featured-tickets.css">
        <!--<![endif]-->
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
<!-- Add google analytics tags here -->
<& /Elements/HeaderJavascript &>
</head>
<body class="featured-tickets-body" id="featured-tickets-body">

<div class="featured-tickets-logo">
    <a href="https://bestpractical.com" class="logo-link"><img src="https://static.bestpractical.com/bpslogo.png" alt="Best Practical Solutions logo"></a>
</div>

<div class="featured-tickets-banner">
    <h1 class="featured-tickets-banner-head">
        Request Tracker (RT)<br>
        Sponsor a feature or fix
    </h1>
</div>

<!-- The Modal -->
<div class="featured-tickets-modal" id="featured-tickets-modal-modal" align='center'>
    <div class="featured-tickets-modal-content">
        <div class="featured-tickets-modal-submitted" id="featured-tickets-modal-submitted">
            <h2>Thanks for your pledge of support!</h2>
            <h2>You'll receive an email soon with more details.</h2>
            <button onclick="FeaturedTicketsHideModal();" class="featured-tickets-button-choose pure-button">Close</button>
        </div>
        <div id="featured-tickets-modal-unsubmitted">
            <form class="pure-form pure-form-aligned" onsubmit="event.preventDefault(); NewSponsor();">
                <span class="featured-tickets-modal-close" id="featured-tickets-modal-close"></span>
                <h2><div id="featured-tickets-subject"></div></h2>
                <h4><div id="featured-tickets-description"></div></h4>
                <h4><div id="featured-tickets-details"></div></h4>
                <h4><div id="featured-tickets-goal"></div></h4>
                <fieldset class="featured-tickets-inputs">
                    <div class="pure-control-group">
                        <label for="featured-tickets-name">Name</label>
                        <input class="featured-tickets-inputs"id="featured-tickets-name" placeholder="Name">
                    </div>
                    <div class="pure-control-group">
                        <label for="featured-tickets-email">Email</label>
                        <input class="featured-tickets-inputs" id="featured-tickets-email" placeholder="Email" type="email" required>
                    </div>
                    <div class="pure-control-group">
                        <label for="featured-tickets-amount">Amount</label>
                        <input class="featured-tickets-inputs" id="featured-tickets-amount" placeholder="Contribution Amount">
                    </div>
                    <input id="featured-tickets-ticket-id" type="hidden">
                    <button type="submit" class="featured-tickets-button-choose pure-button">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g">
% while ( my $ticket = $tickets->Next ) {
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="pricing-table pricing-table-free">
            <div class="pricing-table-header">
                <h2><% $ticket->Subject ? $ticket->Subject : 'Ticket: ' . $ticket->Id %></h2>
                </div>
%   if ( $ticket->FirstCustomFieldValue('Funded') && $ticket->FirstCustomFieldValue('Funded') eq 'Funded' ) {
    <div class='ribbon-wrapper'>
        <div class='ribbon'>Funded!</div>
    </div>
%   }
%   if ( $ticket->FirstCustomFieldValue('Funded')
%        && $ticket->FirstCustomFieldValue('Funded') eq 'Partially Funded' ) {
    <div class='ribbon-wrapper'>
        <div class='ribbon'>Partially Funded!</div>
    </div>
%   }
    <p>
% if ( length($ticket->FirstCustomFieldValue('Description')) > 140 ) {
    <% substr $ticket->FirstCustomFieldValue('Description'), 0, 140 %> ...
% } else {
    <% $ticket->FirstCustomFieldValue('Description') %>
% }
    </p>
%   my $args = {'ticket_id' => $ticket->Id, 'Subject' => $ticket->Subject, 'Goal' => 'Goal: $' . ($ticket->FirstCustomFieldValue('Goal') ? $ticket->FirstCustomFieldValue('Goal') : 0), 'Description' => $ticket->FirstCustomFieldValue('Description'), 'Details' => $ticket->FirstCustomFieldValue('Details') };
    </div>
    <button onclick="detailsClicked(<% encode_json( $args ) %>)" type="submit" class="featured-tickets-button-choose featured-tickets-button-page pure-button" value="<% $ticket->Id %>" name="ticket_id">Details</button>
</div>
%}
    </div> <!-- end pricing-tables -->
</div>

    <div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">What is this page?</h3>
                <p>
                    As an open source product, the majority of the new features we add to Request Tracker are sponsored by users just like you. When we talk to organizations who use RT, we often share our product roadmap to provide options for sponsorship in the core product. We wanted to find a way to share these product ideas with a wider audience, so we created this page to make it easier for supporters to see new features we'd like to build into RT and RTIR.
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">When can I have it?</h3>
                <p>
                     Smaller features and bug fixes are included in the next point release in the current stable release. For larger features, we typically target the next minor series, and we can also provide you with an extension that is compatible with the current stable release. (Versions consist of a major series, minor series and point release. RT 4.4.2 is major series 4, minor series 4, and point release 2.) 
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">What happens after I sponsor?</h3>
                <p>
                    Once you sign up to sponsor a feature, we'll be in touch to discuss our development process, scheduling, payment, and answer any other questions you have. 
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">My feature isn't here</h3>
                <p>
                    We offer a wide variety of <a href="https://bestpractical.com/services">services</a> for RT, including <a href="https://bestpractical.com/support">product support</a>, <a href="https://bestpractical.com/training">training</a>, and <a href="https://bestpractical.com/services/">development</a>. If you'd like to sponsor the development of a feature not included here, or are seeking joint sponsorship of a feature for RT, please <a href="mailto:contact@bestpractical.com">contact us</a>.
                </p>
            </div>
        </div>
    </div> <!-- end information -->
</div> <!-- end l-content -->

<div class="featured-tickets-footer l-box">
    <p>
Header image courtesy of <a href='https://unsplash.com/@rawpixel'>@rawpixel</a> on <a href='http://unsplash.com/'>Unsplash</a>.
    </p>
</div>
</body>
</html>

<%init>
my $queue = RT::Queue->new(RT->SystemUser);
my ($ret, $msg) = $queue->Load(RT->Config->Get('FeaturedTicketsQueue'));

RT::Logger->error("Unable to load Feature Tickets Queue "
    . RT->Config->Get('FeaturedTicketsQueue') . " $msg") unless $ret;

my $tickets = RT::Tickets->new(RT->SystemUser);
if ( $queue->Id ){
    $tickets->LimitQueue( VALUE => $queue->Id );

    my $statuses = RT->Config->Get('FeaturedTicketStatuses');

    foreach my $status (@$statuses) {
        $tickets->LimitStatus( VALUE => $status );
    }

    # Limit feature to RT or RTIR, if provided
    $tickets->LimitCustomField(
        CUSTOMFIELD => 'Feature Type',
        OPERATOR    => '=',
        VALUE       => $feature_type,
        QUEUE       => $queue->Id,
    );
}
else{
    # If we didn't load a feature ticket queue, don't show anything
    RT::Logger->error("Unable to load featured tickets. Did you set \$FeaturedTicketsQueue in RT_SiteConfig.pm?");
    $tickets->FromSQL('id=0');
}

</%init>

<%args>
$ticket_id     => undef
$feature_type  => 'RT'
</%args>
